@keyframes slide-in-from-right {
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}

@keyframes fade-in{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-1{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-2{
    from{opacity: 0%;}
    20%{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-3{
    from{opacity: 0%;}
    40%{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-4{
    from{opacity: 0%;}
    80%{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-5{
    from{opacity: 0%;}
    80%{opacity: 0%;}
    to{opacity: 100%;}
}


@keyframes menu-bg-animation{
    from{background: linear-gradient(#000022 0%,  #000004 100%);}
    5%  {background: linear-gradient(#000022 4%,  #000004 100%);}
    10% {background: linear-gradient(#000022 8%,  #000004 100%);}
    15% {background: linear-gradient(#000022 12%  #000004 100%);}
    20% {background: linear-gradient(#000022 16%, #000004 100%);}
    25% {background: linear-gradient(#000022 20%, #000004 100%);}
    30% {background: linear-gradient(#000022 24%, #000004 100%);}
    35% {background: linear-gradient(#000022 28%, #000004 100%);}
    40% {background: linear-gradient(#000022 32%, #000004 100%);}
    45% {background: linear-gradient(#000022 36%, #000004 100%);}
    50% {background: linear-gradient(#000022 40%, #000004 100%);}
    55% {background: linear-gradient(#000022 36%, #000004 100%);}
    60% {background: linear-gradient(#000022 32%, #000004 100%);}
    65% {background: linear-gradient(#000022 28%, #000004 100%);}
    70% {background: linear-gradient(#000022 24%, #000004 100%);}
    75% {background: linear-gradient(#000022 20%, #000004 100%);}
    80% {background: linear-gradient(#000022 16%, #000004 100%);}
    85% {background: linear-gradient(#000022 12%, #000004 100%);}
    90% {background: linear-gradient(#000022 8%,  #000004 100%);}
    95% {background: linear-gradient(#000022 4%,  #000004 100%);}
    to  {background: linear-gradient(#000022 0%,  #000004 100%);}
}

@keyframes stage-item-button-fade-in {
    from{opacity: 0%;}
    85%{opacity: 0%;}
    to{opacity: 10%;}
}