@keyframes slide-in-from-right {
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}

@keyframes fade-in{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-1{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-2{
    from{opacity: 0%;}
    20%{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-3{
    from{opacity: 0%;}
    40%{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-4{
    from{opacity: 0%;}
    80%{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes seq-fade-in-5{
    from{opacity: 0%;}
    80%{opacity: 0%;}
    to{opacity: 100%;}
}


@keyframes menu-bg-animation{
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}

@keyframes stage-item-button-fade-in {
    from{opacity: 0%;}
    85%{opacity: 0%;}
    to{opacity: 10%;}
}