#hud-div{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    color: #cccccc;
    -webkit-text-stroke: 1.5px #333333;
    font-size: 20px;
    font-family: fantasy;
}

#top-hud-div{
    height: 5%;
    min-height: 75px;
}

#weapons-div{
    height: 100%;
    float: left;
} 

#health-div{
    height: 100%;
    float: right;
}

.x-mark-span, .hud-value-span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 3px;
}

.battery-img{
    height: 40px;
    width: 40px;
}

.hp-icon{
    height: 40px;
    width: 40px;
    opacity: 0.1;
}

#selected-weapon-icon{
    float: left;
    height: 55px;
    width: 55px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(218, 202, 186, 0.9);
    border: 2px solid rgb(80, 60, 35);
}

.weapon-choice{
    height: 22px;
    width: 22px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgba(218, 202, 186, 0.9);
    border: 2px solid rgb(54, 50, 45);
    transition-duration: 400ms;
    filter: brightness(0.8);
    opacity: 0.7;
}

.weapon-choice.locked{
    filter: grayscale(1);
    filter: brightness(0.4);
    opacity: 0.5;
}

.weapon-choice.selected{
    filter: brightness(1);
    opacity: 1;
    border: 2px solid rgb(80, 60, 35);
}

#weapon-selection-top-panel{
    margin-left: 5px;
    float: left;
}

.hp-icon, .battery-img, #selected-weapon-icon{
    filter: drop-shadow(3px 3px 3px#000000);
}

#in-game-menus-div{
    background-color: transparent;
}

.in-game-menu-div{
    margin: auto;
    padding-bottom: 50px;
    width: 30%;
    min-width: 300px;
    -webkit-text-stroke: 1.5px #442200;
    background-color: rgba(40, 20, 0, 0.4);
    border-radius: 30px;
    filter: drop-shadow(3px 3px 3px#000000);
}