<div id='hud-div'>
    <div id='top-hud-div'>
        <div id='weapons-div'>
            <img id='selected-weapon-icon' src="../app/assets/images/icons/weapon-1-n.png">
            <div id='weapon-selection-top-panel'>
                <img id='weapon-choice-1' class='weapon-choice' src="../app/assets/images/icons/weapon-1-n.png">
                <img id='weapon-choice-2' class='weapon-choice' src="../app/assets/images/icons/weapon-2-r1.png">
                <img id='weapon-choice-3' class='weapon-choice' src="../app/assets/images/icons/weapon-3-r2.png">
                <img id='weapon-choice-4' class='weapon-choice' src="../app/assets/images/icons/weapon-4-r3.png">
                <img id='weapon-choice-5' class='weapon-choice' src="../app/assets/images/icons/weapon-5-y1.png">
                <img id='weapon-choice-6' class='weapon-choice' src="../app/assets/images/icons/weapon-6-y2.png">
                <img id='weapon-choice-7' class='weapon-choice' src="../app/assets/images/icons/weapon-7-y3.png">
                <img id='weapon-choice-8' class='weapon-choice' src="../app/assets/images/icons/weapon-8-b1.png">
                <img id='weapon-choice-9' class='weapon-choice' src="../app/assets/images/icons/weapon-9-b2.png">
                <img id='weapon-choice-10' class='weapon-choice' src="../app/assets/images/icons/weapon-10-b3.png">
            </div>
        </div>
        <div id='health-div'>
            <img id='hp-icon-1' class='hp-icon' src="../app/assets/images/icons/heart.png">
            <img id='hp-icon-2' class='hp-icon' src="../app/assets/images/icons/heart.png">
            <img id='hp-icon-3' class='hp-icon' src="../app/assets/images/icons/heart.png">
            <img id='hp-icon-4' class='hp-icon' src="../app/assets/images/icons/heart.png">
            <img id='hp-icon-5' class='hp-icon' src="../app/assets/images/icons/heart.png">
        </div>
    </div>
    
    <div id='mid-hud-div'>
        <div class='energy-div'>
            <img class='battery-img' src="../app/assets/images/icons/battery-red.png">
            <span class='x-mark-span'>x</span>
            <span class='hud-value-span red'>0</span>
        </div>
        <div class='energy-div'>
            <img class='battery-img' src="../app/assets/images/icons/battery-yellow.png">
            <span class='x-mark-span'>x</span>
            <span class='hud-value-span yellow'>0</span>
        </div>
        <div class='energy-div'>
            <img class='battery-img' src="../app/assets/images/icons/battery-blue.png">
            <span class='x-mark-span'>x</span>
            <span class='hud-value-span blue'>0</span>
        </div>
    </div>
    <div id='in-game-menus-div'></div>
</div>


