<div id='hud-div'>
    <div id='top-hud-div'>
        <div id='weapons-div'>
            <h1>WEAPONS</h1>
        </div>
        <div id='health-div'>
            <h1>HEALTH</h1>
        </div>
    </div>
    
    <div id='mid-hud-div'>
        <h1>ENERGY</h1>
        <div class='energy-div'>
            <span>IMAGE</span>
            <span class='x-mark-span'>&#9587;</span>
            <span class='hud-value-span red'>0</span>
        </div>
        <div class='energy-div'>
            <span>IMAGE</span>
            <span class='x-mark-span'>&#9587;</span>
            <span class='hud-value-span yellow'>0</span>
        </div>
        <div class='energy-div'>
            <span>IMAGE</span>
            <span class='x-mark-span'>&#9587;</span>
            <span class='hud-value-span green'>0</span>
        </div>
    </div>
</div>


