<div id='hud-div'>
    <div id='top-hud-div'>
        <div id='weapons-div'>
            <h1>WEAPONS</h1>
        </div>
        <div id='health-div'>
            <img id='hp-icon-1' class='hp-icon' src="../app/assets/images/icons/heart.png">
            <img id='hp-icon-2' class='hp-icon' src="../app/assets/images/icons/heart.png">
            <img id='hp-icon-3' class='hp-icon' src="../app/assets/images/icons/heart.png">
            <img id='hp-icon-4' class='hp-icon' src="../app/assets/images/icons/heart.png">
            <img id='hp-icon-5' class='hp-icon' src="../app/assets/images/icons/heart.png">
        </div>
    </div>
    
    <div id='mid-hud-div'>
        <div class='energy-div'>
            <img class='battery-img' src="../app/assets/images/icons/battery-red.png">
            <span class='x-mark-span'>x</span>
            <span class='hud-value-span red'>0</span>
        </div>
        <div class='energy-div'>
            <img class='battery-img' src="../app/assets/images/icons/battery-yellow.png">
            <span class='x-mark-span'>x</span>
            <span class='hud-value-span yellow'>0</span>
        </div>
        <div class='energy-div'>
            <img class='battery-img' src="../app/assets/images/icons/battery-blue.png">
            <span class='x-mark-span'>x</span>
            <span class='hud-value-span green'>0</span>
        </div>
    </div>
</div>


